div.hero-unit
  h1 Bookmarklet!
  p Drag the button to your bookmarkbar to install the bookmarklet.
  p
    a(data-bypass=true, href="javascript:(function(){if(document.getElementById('bmlet'))return;var%20s=document.createElement('SCRIPT');s.id='bmlet';s.type='text/javascript';s.src='http://localhost:3000/js/bookmarklet.js?v='+new%20Date().getTime();document.getElementsByTagName('head')[0].appendChild(s);})();").btn.btn-primary.btn-large Bookmarklet!