.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#') CQRS
      .nav-collapse.collapse
        //- trailing space on purpose
        p.navbar-text.pull-right Logged in as 
          a.navbar-link(href='#') Username
        ul.nav